# ðŸ“œ IBM Data Science Professional Certificate  
*Curiosity to Capability â€” One Notebook at a Time*

---

**Compiled and Authored by:**  
**Partho Sarothi Das**  
Dhaka, Bangladesh  
ðŸŽ“ Bachelor's & Master's in Statistics  
ðŸ’¼ Investment Banking Professional â†’ Aspiring Data Scientist  

>**Disclaimer:** This notebook is based on content from the [IBM Data Science Professional Certificate](https://www.coursera.org/professional-certificates/ibm-data-science) offered on Coursera. It is intended for personal learning and review purposes.

---
---

# working with real-world datasets and how to handle them using databases and Python

### Working with CSV Files:

* Real-world datasets often come in **CSV (Comma-Separated Values)** format.
* Sometimes other delimiters like **semicolons** may be used.
* Example used: `DOGS.csv`, containing attributes like ID, Name, and Breed.

---

### Loading Data into Databases (phpMyAdmin):

1. **Import CSV via phpMyAdmin**:

   * Choose **CSV** under *Format* when uploading the file.
   * Enable the option: *First line contains column names*.
   * MySQL auto-generates table structure and populates data.
   * Table name defaults to the lowercase filename.

2. **Handling Column Names**:

   * Column names may contain **spaces** or **special characters**.
   * Enclose such column names in **backticks** (e.g., `` `dog name` ``).
   * **Avoid** using single or double quotes for column names.

---

### Writing Queries:

* **Long or nested SQL queries** can be split into multiple lines for better readability:

  * In **Python**, use **`\` (backslash)** to continue to the next line.
  * In **SQL cell magics** (`%%sql`), splitting into lines is allowed without using `\`.

* **Quoting in queries**:

  * Use **single quotes** in Python to wrap the full SQL query string.
  * Use **double quotes** inside the SQL to quote column names if needed.
  * Escape **single quotes inside SQL** with a backslash: `'O\'Reilly'`

---

### Querying from Python (Pandas):

* Use `pd.read_sql(query, connection)` to run SQL queries from Python.
* If the query is large or reused:

  ```python
  query_statement = 'SELECT * FROM `census data` LIMIT 3'
  df = pd.read_sql(query_statement, conn)
  ```

---

### Limiting Results:

* Avoid loading massive tables unnecessarily.
* Use `LIMIT` to restrict rows:

  ```sql
  SELECT * FROM census_data LIMIT 3;
  ```

---

### Key Takeaways:

* **CSV** is the most common format for real-world data.
* Use **phpMyAdmin** or Python to load and query databases.
* Always **use backticks** for complex column names.
* Split long queries for **readability and maintainability**.
* Use **LIMIT** to explore only a subset of large datasets.
* Python's **`read_sql()`** from **Pandas** makes SQL querying easy and efficient.

---

# retrieving table and column information in databases

---

### Learning Objectives:

By the end of this video, you will be able to:

* Get a **list of tables** in a database
* Get a **list of columns (attributes)** in a table
* Apply these techniques in **SQLite3** and other SQL systems

---

### Why It Matters:

Databases often contain many tables. If you forget a tableâ€™s exact name or want to explore its structure, you can use system or catalog queries to list tables and columns.

---

### How to List Tables:

Different databases use different approaches:

| **Database**   | **Command to List Tables**                           |
| -------------- | ---------------------------------------------------- |
| **SQLite3**    | `SELECT name FROM sqlite_master WHERE type='table';` |
| **MySQL**      | `SHOW TABLES;`                                       |
| **SQL Server** | `SELECT * FROM information_schema.tables;`           |
| **DB2**        | `SELECT * FROM syscat.tables;`                       |

---

### How to List Columns (Attributes):

| **Database** | **Command to List Columns**      |
| ------------ | -------------------------------- |
| **SQLite3**  | `PRAGMA table_info(table_name);` |
| **MySQL**    | `DESCRIBE table_name;`           |

---

### Key Takeaways:

* Use **`sqlite_master`** in SQLite3 to list tables
* Use **`PRAGMA table_info()`** in SQLite3 to view column details
* MySQL uses `SHOW TABLES` and `DESCRIBE table_name`
* These methods help explore and understand unknown or unfamiliar databases

---